{
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"endOfLine": "crlf",
	"overrides": [
		{
			"files": "*.yaml",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
